<link rel="stylesheet" href="/main.css">
<h1>Counter</h1>

<h3><%= count %><% + ''%> : <span>times</span></h3>


<form action="/" method="post">
    <button type="submit" >Counter</button>
</form>
<form action="/two" method="post">
    <button type="submit" >+ 2</button>
</form>
<form action="/reset" method="post">
    <button type="submit" >Reset</button>
</form>
